container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "shortdra_eb.settings"
    PYTHONPATH: "/opt/python/current/app/shortdra_eb:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "shortdra_eb/shortdra_eb/wsgi.py"