{% extends "base.html" %}
{% block content %}
<title>Refugees Of Germany - Home</title>

<header id="siteheader">
  	<div id="header-content" style="font-weight:bold;">
		<a href="/">home</a>
  	</div>
  	<div id="header-content">
		<a href="/story">stories</a>
  	</div>
  	<div id="header-content">
		<a href="/history">history</a>
  	</div>
  	<div id="header-content">
		mapping
  	</div>
  	<div id="header-content">
		analysis
  	</div>
</header>

<div class="main">

  <div class="container">

    <h1>refugees of germany</h1>
    <p>learn their stories | see their journey
    <br>coming summer 2016</p>


  </div>
</div>

{% endblock %}
